@import "../variables";

$dark: #1b1d20;
$txt: #585f68;
$primary-dark: #2a2d33;

#{$flex}, #{$float} {
  &wrap[#{$data}theme="default"][#{$data}dark="true"] {
    background-color: $dark;

    #{$flex}, #{$float} {
      &container {
        border-top: 1px #111417 solid;
      }

      &key {
        > span {
          background-color: $dark;
          box-shadow: 0 1px 2px rgba(63, 84, 107, 0.431);
        }

        &[#{$data}status="start"] > span {
          background-color: $primary-light;
          color: $dark;
        }

        &[#{$data}key-code="enter"] > span {
          background-color: $primary-light;
          color: $dark;
        }
      }
    }
  }
}