@import "../variables";

#{$flex}, #{$float} {
  &wrap {
    background-color: #ffffff;
  }

  &container {
    background-color: inherit;
    border-top: 1px #f5f5f5 solid;
    padding: 8px 0;

    &[#{$data}locked="upper"] {
      [#{$data}key-code="upper"] {
        border-radius: 2px;
        background-color: #0077ff;
        color: #ffffff;
      }
    }
  }

  &key {
    cursor: default;

    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(73, 158, 255, 0.431);
    margin: 2px;
    font-size: 16px;

    background-color: #ffffff;
    color: #0077ff;

    transition: background-color .25s cubic-bezier(0.075, 0.82, 0.165, 1),
                color .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    &[#{$data}status="start"] {
      background-color: #0077ff;
      color: #ffffff;
    }

    &[#{$data}key-code="enter"] {
      border-radius: 8px;
      background-color: #0077ff;
      color: #ffffff;
    }
  }
}

#{$flex} {
  &container {
    &[#{$data}name="number"] {
      #{$flex}key {
        width: 0;
        
        &[#{$data}key-code="backspace"],
        &[#{$data}key-value="0"] {
          flex-grow: 2;
        }
      }
    }

    &[#{$data}name="qwer"] {
      #{$flex}key {
        width: 0;
    
        &[#{$data}key-value=" "] {
          flex-grow: 6;
        }
        
        &[#{$data}key-code="backspace"],
        &[#{$data}key-code="enter"],
        &[#{$data}key-code="@@number"] {
          flex-grow: 2;
        }
      }
    }
  }
}