kypd- {
  &wrap, &flex-wrap {
    background: #ffffff;
  }
}

kypd-flex- {
  &container {
    border-top: 1px #f5f5f5 solid;
  }

  &key {
    cursor: default;
    border-radius: 10px;
    background: #ffffff;
    color: #0077ff;
    font-size: 16px;
    transition: background .25s cubic-bezier(0.075, 0.82, 0.165, 1),
                color .25s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                border-radius .45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    &[data-kypd-key-status="start"] {
      border-radius: 2px;
      background: #0077ff;
      color: #ffffff;
    }
  }
}