@import "variables";

.kypd-passwords {
  display: flex;

  + input {
    margin-bottom: 12px;
  }

  > i {
    $sz: 32px;
    border-radius: 4px;
    // border: 1px solid #eee;
    box-shadow: 0px 2px 4px 1px rgba(67, 186, 255, 0.383);
    height: $sz;
    width: $sz;
    margin: 2px;
    justify-content: center;
    align-items: center;
    display: flex;

    &::before {
      content: "";
      $sz: 10px;
      border-radius: $sz / 2;
      background: #22cbff;
      height: $sz;
      width: $sz;
      display: block;

      transition: opacity .25s ease, visibility .25s ease;
      
      opacity: .2;
    }

    &.on {
      &::before {
        opacity: 1;
      }
    }
  }
}

.kypd-theme,
.kypd-layout {
  label {
    margin-right: 12px;
  }
}

.kypd-control {
  button {
    margin-right: 12px;
  }
}