kypd- {
  &wrap, &flex-wrap {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    bottom: 0;
    z-index: 999999999;
    position: fixed;

    transition: opacity .35s,
                visibility .35s,
                transform .25s cubic-bezier(0.215, 0.610, 0.355, 1);

    &[data-kypd-status="none"] {
      display: none;
    }

    &[data-kypd-status="ready"] {
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
    }
    
    &[data-kypd-status="active"] {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
    }
  }
}

$prefix: 'kypd-flex-';

#{$prefix} {
  &container {
    width: inherit;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;

    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;

    &[data-kypd-status="ready"] {
      transform: translateY(100%);

      transition: transform .25s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    
    &[data-kypd-status="active"] {
      transform: translateY(0);
    }
    
    &[data-kypd-name="number"] {
      #{$prefix}content {
        max-width: 240px;
      }
    }
    
    &[data-kypd-name="qwer"] {
      #{$prefix}content {
        max-width: 560px;      
      }
    }
  }
  
  &content {
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
  }

  &key-row {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }

  &key {
    height: 48px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}